<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Tools Bluefocus Agency</title>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

  <!-- Other Css -->
  <link href="./assets/vendors/select2/select2.css" rel="stylesheet" type="text/css">

  <link href="./assets/css/app.min.css" media="all" type="text/css" rel="stylesheet">
  <link href="./css/custom-style.css" rel="stylesheet" type="text/css">

</head>

<body>
  <!-- Begin page -->
  <div class="app is-default">
    <div class="layout">
      <!-- Topbar -->
      <div class="header">
        <div class="logo logo-dark">
          <a href="#">
            <img src="./assets/images/logo/logo.svg" alt="Logo" style="width: 230px; height: 65px">
            <img class="logo-fold" src="./assets/images/logo/logo-fold.png" alt="Logo">
          </a>
        </div>
        <div class="logo logo-white">
          <a href="#">
            <img src="./assets/images/logo/logo.svg" alt="Logo" style="width: 230px; height: 65px">
            <img class="logo-fold" src="./assets/images/logo/logo-fold.png" alt="Logo">
          </a>
        </div>
        <div class="nav-wrap">
          <ul class="nav-left">
            <li class="desktop-toggle">
              <a href="javascript:void(0);">
                <i class="anticon"></i>
              </a>
            </li>
            <li class="mobile-toggle">
              <a href="javascript:void(0);">
                <i class="anticon"></i>
              </a>
            </li>
            <li>
              <!-- <a href="javascript:void(0);" data-toggle="modal" data-target="#search-drawer">
                <i class="anticon anticon-search"></i>
              </a> -->
            </li>
          </ul>
        </div>
      </div>
      <!-- End of Topbar -->

      <!-- Sidebar -->
      <div class="side-nav">
        <div class="side-nav-inner">
          <div id="vue_app_slide_bar">
            <template v-if="accessToken">
              <ul class="side-nav-menu scrollable">
                <li class="nav-item" :class="{ 'active': activeTab == 0 }" >
                  <a @click="getMenu(0)">
                    <span class="icon-holder">
                      <i class="anticon anticon-home" style="color:tomato"></i>
                    </span>
                    <span class="title">Home</span>
                  </a>
                </li>
                <li class="nav-item" :class="{ 'active': activeTab == 1 }" >
                  <a @click="getBusinesses()">
                    <img class="img-menu" src="./assets/images/svg/business-agency.svg" alt="" style="width: 22px">
                    <span class="title">Businesses</span>
                  </a>
                </li>
                <li class="nav-item" :class="{ 'active': activeTab == 2 }" >
                  <a @click="getMenu(2)">
                    <img class="img-menu" src="./assets/images/svg/account-s3.svg" alt="" style="width: 22px">
                    <span class="title">Ad Accounts</span>
                  </a>
                </li>
                <li class="nav-item" :class="{ 'active': activeTab == 3 }" >
                  <a @click="getMenu(3)">
                    <img class="img-menu" src="./assets/images/svg/pages.svg" alt="" style="width: 22px">
                    <span class="title">Pages</span>
                  </a>
                </li>
                <li class="nav-item" :class="{ 'active': activeTab == 4 }" >
                  <a @click="getMenu(4)">
                    <span class="icon-holder">
                      <i class="anticon anticon-home" style="color:tomato"></i>
                    </span>
                    <span class="title">Ad Sets</span>
                  </a>
                </li>
                <li class="nav-item" :class="{ 'active': activeTab == 5 }" >
                  <a @click="getMenu(5)">
                    <span class="icon-holder">
                      <i class="anticon anticon-home" style="color:tomato"></i>
                    </span>
                    <span class="title">Insights</span>
                  </a>
                </li>
                <li class="nav-item" :class="{ 'active': activeTab == 6 }" >
                  <a @click="logout()">
                    <span class="icon-holder">
                      <i class="anticon anticon-logout" style="color:tomato"></i>
                    </span>
                    <span class="title">Logout</span>
                  </a>
                </li>
              </ul>
            </template>
          </div>
        </div>
      </div>
      <!-- End of Sidebar -->

      <!-- Start right Content here -->
      <section class="page-container">
        <!-- Main Content -->
        <div class="main-content">
          <div id="vue_app" class="row">
            <template v-if="!accessToken">
              <div class="text-center m-t-30 m-b-40">
                <div class="form-group">
                  <h3>Welcome to Tools Bluefocus Agency</h3>
                </div>
                <div class="form-group">
                  <button class="btn btn-primary" @click="login();">
                    <i class="fa-brands fa-facebook"></i> Login with Facebook
                  </button>
                  <a href="policy.html" class="btn btn-secondary" target="_blank">Privacy Policy</a>
                </div>
              </div>
            </template>

            <template v-if="accessToken">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                      <h5 v-if="activeTab == 1" class="mb-0">Businesses</h5>
                      <h5 v-else-if="activeTab == 2" class="mb-0">Ad Accounts</h5>
                      <h5 v-else-if="activeTab == 3" class="mb-0">Pages</h5>
                      <h5 v-else-if="activeTab == 4" class="mb-0">Ad Sets</h5>
                    </div>
                    <div :style="{'display': activeTab == 1 ? '' : 'none'}" class="table-responsive m-t-30">
                      <table id="table-datatable" class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Business ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Total Ad Accounts</th>
                            <th scope="col">Total Pages</th>
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="(business, index) in businesses">
                            <th scope="row">{{ index + 1 }}</th>
                            <td>{{ business.id }}</td>
                            <td>{{ business.name }}</td>
                            <td>
                              {{ business.owned_ad_accounts.summary.total_count +
                              business.client_ad_accounts.summary.total_count }}
                            </td>
                            <td>{{ business.owned_pages.summary.total_count }}</td>
                            <td>
                              <button type="button" class="btn btn-primary" @click="getAdAccounts(business.id)">
                                Get Ad Accounts
                              </button>
                              <button type="button" class="btn btn-primary" @click="getPages(business.id)">
                                Get Pages
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div :style="{'display': activeTab == 2 ? '' : 'none'}" class="table-responsive m-t-30">
                      <table id="table-datatable" class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Account ID</th>
                            <th scope="col">Name</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="(adAccount, index) in adAccounts">
                            <th scope="row">{{ index + 1 }}</th>
                            <td>
                              <a href="javascript:void(0)" @click="getAdSets(adAccount.id)">{{ adAccount.account_id }}
                              </a>
                            </td>
                            <td>{{ adAccount.name }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div :style="{'display': activeTab == 3 ? '' : 'none'}" class="table-responsive m-t-30">
                      <table id="table-datatable" class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Page ID</th>
                            <th scope="col">Name</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="(page, index) in pages">
                            <th scope="row">{{ index + 1 }}</th>
                            <td>
                              <a href="javascript:void(0)" @click="getPosts(page.id)">{{ page.id }}</a>
                            </td>
                            <td>{{ page.name }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div :style="{'display': activeTab == 4 ? '' : 'none'}" class="table-responsive m-t-30">
                      <table id="table-datatable" class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Ad Set ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="(adSet, index) in adSets">
                            <th scope="row">{{ index + 1 }}</th>
                            <td>{{ adSet.id }}</td>
                            <td>{{ adSet.name }}</td>
                            <td>{{ adSet.status }}</td>
                            <td>
                              <button type="button" class="btn btn-success btn-sm"
                                @click="setAdSetStatus(adSet.id, 'ACTIVE')">
                                Active
                              </button>
                              <button type="button" class="btn btn-danger btn-sm"
                                @click="setAdSetStatus(adSet.id, 'PAUSED')">
                                Pause
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div :style="{'display': activeTab == 3 ? '' : 'none'}" class="col-lg-12">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                      <h5 class="mb-0">Page Posts</h5>
                    </div>
                    <div class="table-responsive m-t-30">
                      <table id="table-datatable" class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Post ID</th>
                            <th scope="col">Message</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="(post, index) in posts">
                            <th scope="row">{{ index + 1 }}</th>
                            <td>{{ post.id }}</td>
                            <td>{{ post.message }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </template>
          </div>
        </div>
        <!-- End of Main Content -->
      </section>
      <!-- End Right content here -->
    </div>
  </div>
  <!-- End of Page Wrapper -->
  <!-- Footer -->
  <footer class="footer">
  </footer>
  <!-- End of Footer -->
  <!-- Core Vendors JS -->
  <script src="./js/new_theme/vendors.min.js"></script>
  {{--
  <script src="./js/new_theme/jquery.min.js"></script>--}}
  {{--
  <script src="./js/new_theme/bootstrap.bundle.min.js"></script>--}}
  <!-- Core JS -->
  <script src="./js/new_theme/app.min.js"></script>
  <!-- Other JS plugins -->
  <script src="./plugins/toastr/toastr.min.js"></script>
  <script src="./plugins/sweetalert/sweetalert.min.js"></script>
  <script src="./plugins/momentjs/moment.js"></script>
  <script src="./plugins/autosize/autosize.min.js"></script>
  <script src="./assets/vendors/select2/select2.js"></script>
  <!--User defined js code -->
  <script src="./js/common.js"></script>
  <script src="./js/user.js"></script>
  <script src="./js/script_s3.js"></script>

  <div id="fb-root"></div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
  <script>
    var vue_app = new Vue({
      el: '#vue_app',
      data: {
        username: '',
        activeTab: 0,
        title: 'Tools Bluefocus Agency',
        accessToken: '',
        adAccounts: [],
        pages: [],
        posts: [],
        adAccountUsers: [],
        businesses: [],
        adSets: [],
      },
      methods: {
        login: function () {
          const self = this
          FB.login(
            function (response) {
              if (response.authResponse) {
                self.accessToken = response.authResponse.accessToken
                vue_app_slide_bar.accessToken = self.accessToken
              } else {
              }
            },
            {
              auth_type: 'reauthenticate',
              scope:
                'public_profile,email,ads_read,business_management,pages_show_list,pages_read_engagement,ads_management,pages_read_user_content',
              return_scopes: true,
            }
          )
          FB.getLoginStatus(function (r) {
            //check if user already authorized the app
            if (r.status === 'connected') {
              self.accessToken = r.authResponse.accessToken
              vue_app_slide_bar.accessToken = self.accessToken
            } else {
              FB.login(
                function (response) {
                  if (response.authResponse) {
                    self.accessToken = response.authResponse.accessToken
                    vue_app_slide_bar.accessToken = self.accessToken
                  } else {
                  }
                },
                {
                  scope:
                    'public_profile,email,ads_read,business_management,pages_show_list,pages_read_engagement,ads_management,pages_read_user_content',
                }
              )
            }
          })
        },
        logout: function () {
          const self = this
          FB.logout(function (response) {
            self.accessToken = ''
          })
        },
        getMe: function () {
          FB.api('/me', function (response) { })
        },
        getBusinesses: function () {
          const self = this
          self.activeTab = 1
          FB.api(
            '/me/businesses?fields=id,name,owned_ad_accounts.limit(0).summary(1),client_ad_accounts.limit(0).summary(1),owned_pages.limit(0).summary(1)&limit=9999',
            function (response) {
              self.businesses = response.data
            }
          )
        },
        getAdAccounts: async function (businessId) {
          const self = this
          self.activeTab = 2
          self.adAccounts = []
          await FB.api(
            `/${businessId}/owned_ad_accounts?fields=account_id,name&limit=9999`,
            function (response) {
              response.data.map((adAccount) => {
                self.adAccounts.push(adAccount)
              })
            }
          )
          await FB.api(
            `/${businessId}/client_ad_accounts?fields=account_id,name&limit=9999`,
            function (response) {
              response.data.map((adAccount) => {
                self.adAccounts.push(adAccount)
              })
            }
          )
        },
        getPages: function (businessId) {
          const self = this
          self.activeTab = 3
          FB.api(`/${businessId}/owned_pages?fields=id,name&limit=9999`, function (response) {
            self.pages = response.data
          })
        },
        getPosts: function (pageId) {
          const self = this
          FB.api(`/${pageId}/feed?fields=&limit=9999`, function (response) {
            self.posts = response.data
          })
        },
        getAdAccountUsers: function (accountId) {
          const self = this
          FB.api(`/${accountId}/users?limit=9999`, function (response) {
            self.adAccountUsers = response.data
          })
        },
        getAdSets: function (accountId) {
          const self = this
          self.activeTab = 4
          FB.api(`/${accountId}/adsets?fields=id,name,status&limit=9999`, function (response) {
            self.adSets = response.data
          })
        },
        setAdSetStatus: function (adSetId, status) {
          const self = this
          self.activeTab = 4
          FB.api(`/${adSetId}/?status=${status}`, 'POST', function (response) {
            const index = self.adSets.findIndex((x) => x.id === adSetId)
            self.adSets[index].status = status
            alert('Update successfully!')
          })
        },
      },
    })

    var vue_app_slide_bar = new Vue({
      el: '#vue_app_slide_bar',
      data: {
        accessToken: '',
        activeTab: 0,
        businesses: [],
      },
      methods: {
        logout: function () {
          const self = this
          FB.logout(function (response) {
            self.accessToken = ''
            vue_app.accessToken = self.accessToken
          })
        },
        getBusinesses: function () {
          const self = this
          self.activeTab = 1
          vue_app.activeTab = self.activeTab
          FB.api(
            '/me/businesses?fields=id,name,owned_ad_accounts.limit(0).summary(1),client_ad_accounts.limit(0).summary(1),owned_pages.limit(0).summary(1)&limit=9999',
            function (response) {
              self.businesses = response.data
            }
          )
        },
        getMenu: function (activeTab) {
          this.activeTab = activeTab
          vue_app.activeTab = activeTab
        },
      },
    })

    var app = new Vue({
      el: '#app',
      data: {
        username: '',
        activeTab: 0,
        title: 'Tools Bluefocus Agency',
        accessToken: '',
        adAccounts: [],
        pages: [],
        posts: [],
        adAccountUsers: [],
        businesses: [],
        adSets: [],
      },
      methods: {
        getBusinesses: function () {
          const self = this
          self.activeTab = 1
          FB.api(
            '/me/businesses?fields=id,name,owned_ad_accounts.limit(0).summary(1),client_ad_accounts.limit(0).summary(1),owned_pages.limit(0).summary(1)&limit=9999',
            function (response) {
              self.businesses = response.data
            }
          )
        },
        getAdAccounts: async function (businessId) {
          const self = this
          self.activeTab = 2
          self.adAccounts = []
          await FB.api(
            `/${businessId}/owned_ad_accounts?fields=account_id,name&limit=9999`,
            function (response) {
              response.data.map((adAccount) => {
                self.adAccounts.push(adAccount)
              })
            }
          )
          await FB.api(
            `/${businessId}/client_ad_accounts?fields=account_id,name&limit=9999`,
            function (response) {
              response.data.map((adAccount) => {
                self.adAccounts.push(adAccount)
              })
            }
          )
        },
        getPages: function (businessId) {
          const self = this
          self.activeTab = 3
          FB.api(`/${businessId}/owned_pages?fields=id,name&limit=9999`, function (response) {
            self.pages = response.data
          })
        },
        getPosts: function (pageId) {
          const self = this
          FB.api(`/${pageId}/feed?fields=&limit=9999`, function (response) {
            self.posts = response.data
          })
        },
        getAdAccountUsers: function (accountId) {
          const self = this
          FB.api(`/${accountId}/users?limit=9999`, function (response) {
            self.adAccountUsers = response.data
          })
        },
        getAdSets: function (accountId) {
          const self = this
          self.activeTab = 4
          FB.api(`/${accountId}/adsets?fields=id,name,status&limit=9999`, function (response) {
            self.adSets = response.data
          })
        },
        setAdSetStatus: function (adSetId, status) {
          const self = this
          self.activeTab = 4
          FB.api(`/${adSetId}/?status=${status}`, 'POST', function (response) {
            const index = self.adSets.findIndex((x) => x.id === adSetId)
            self.adSets[index].status = status
            alert('Update successfully!')
          })
        },
      },
    })

    window.fbAsyncInit = function () {
      FB.init({
        appId: '657874885318464',
        cookie: true,
        xfbml: true,
        version: 'v17.0',
      })

      FB.AppEvents.logPageView()
    }
      ; (function (d, s, id) {
        var js,
          fjs = d.getElementsByTagName(s)[0]
        if (d.getElementById(id)) {
          return
        }
        js = d.createElement(s)
        js.id = id
        js.src = 'https://connect.facebook.net/en_US/sdk.js'
        fjs.parentNode.insertBefore(js, fjs)
      })(document, 'script', 'facebook-jssdk')
  </script>
</body>

</html>